html{
	position: relative;
}

body{
	margin-bottom: 200px;
}


.jumbotron{
}

.kotak{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../img/IMG_6539.JPG");
	background-position: center;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFF;
}

.jumbotron img{
	width: 200px;
}


body{
	margin-top: 30px;
}

footer{
	background-color: #333;
	width: 100%;
	height: 200px;
	bottom: 0;
	position: absolute;
}

section{
	min-height: 600px;
}

.profil{

}

hr{
	width: 300px;
	border-top: 4px solid #666;
}

.pengalaman{
	background-color: #666;
	color: #fff;
}

.pengalaman hr{
	width: 300px;
	border-top: 4px solid #fff;
}

.kemampuan{

}